<template>
  <div class="container">
    <Icon class="nav-left" src="icon_back"/>
    <text class="nav-right">预约开通</text>

    <Icon class="logo" src="logo_sqb"/>

    <div class="input-bg">
      <input
          ref="usernameInput"
          :class="['input', username && 'input-value']"
          placeholder="请输入手机号/邮箱"
          :type="isAndroid ? 'number' : ''"
          return-key-type="next"
          v-model="username"
          @return="$refs.passwordInput.focus()"
      />
      <Icon
          class="s30"
          :src="username ? 'icon_close' : ''"
          @click="username = ''"
      />
    </div>

    <div class="input-bg">
      <input
          ref="passwordInput"
          :class="['input', password && 'input-value']"
          placeholder="请输入登录密码"
          :type="eyeOpen ? 'email' : 'password'"
          v-model="password"
          @return="clickDone"
      />
      <Icon
          class="s30"
          :src="password ? 'icon_close' : ''"
          @click="password = ''"
      />
      <Icon
          class="s30 eye"
          :src="eyeOpen ? 'icon_eye_1' : 'icon_eye_0'"
          @click="eyeOpen = !eyeOpen"
      />
      <div class="separator"/>
      <text class="tip">忘记密码</text>
    </div>

    <text
        ref="button"
        :class="['button', buttonDisabled && 'button-disabled', !buttonDisabled && buttonPressed && 'button-pressed']"
        @click="clickLogin"
        @touchstart="buttonPressed = true"
        @touchend="buttonPressed = false"
    >登录</text>
    <text class="tip verify">手机验证码登录</text>

    <div style="flex: 1"/>
    <div class="bottom">
      <div class="third">
        <Icon class="third-icon" src="icon_wechat"/>
        <text class="third-text">微信登录</text>
      </div>
      <div class="third">
        <Icon class="third-icon" src="icon_alipay"/>
        <text class="third-text">支付宝登录</text>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from "../components/Icon"

const stream = weex.requireModule("stream");
const modal = weex.requireModule("modal");

export default {
  components: {
    Icon,
  },
  data() {
    return {
      username: "",
      password: "",
      eyeOpen: false,
      buttonPressed: false,
    };
  },
  computed: {
    buttonDisabled() {
      return !this.username || this.password.length < 6;
    },
    isAndroid() {
      return weex.config.env.platform === 'android';
    },
  },
  methods: {
    clickDone() {
      this.$refs.passwordInput.blur();
      this.clickLogin();
    },
    clickLogin() {
      if (this.buttonDisabled) return;

      this.$refs.usernameInput.blur();
      this.$refs.passwordInput.blur();

      this.request(
          "https://mock.apifox.com/m1/4102536-0-default/demo/login",
          {username: this.username, password: this.password},
          () => modal.alert({message: "登录成功"}),
          (e) => modal.alert({message: e}),
      );
    },
    request(url, params, resolve, reject) {
      const option = {
        method: "POST",
        url: url,
        type: "json",
        body: JSON.stringify(params || {}),
        headers: {"Content-Type": "application/json"},
      };

      stream.fetch(option, (result) => {
        if (result.ok) {
          if (result.data.success) {
            resolve && resolve(result.data.data);
          } else {
            reject && reject(result.data.desc);
          }
        } else {
          reject && reject(result.statusText);
        }
      });
    },
  }
}
</script>

<style scoped>
.container {
  flex: 1;
  background-color: #FFFFFF;
}

.nav-left {
  position: absolute;
  top: 38px;
  left: 32px;
  width: 18px;
  height: 30px;
}

.nav-right {
  font-size: 26px;
  color: #666666;
  font-weight: 600;
  position: absolute;
  top: 40px;
  right: 32px;
}

.logo {
  width: 300px;
  height: 95px;
  align-self: center;
  margin: 219px 0 90px;
}

.input-bg {
  margin: 30px 64px 0;
  flex-direction: row;
  align-items: center;
  border-bottom-width: 1px;
  border-color: #E5E5E5;
  height: 99px;
}

.input {
  font-size: 28px;
  color: #000000;
  placeholder-color: #999999;
  flex: 1;
  height: 100%;
}

.input-value {
  font-size: 36px;
}

.s30 {
  width: 30px;
  height: 30px;
}

.eye {
  margin-left: 12px;
}

.separator {
  width: 2px;
  height: 26px;
  background-color: #E5E5E5;
  margin: 0 22px;
}

.tip {
  font-size: 26px;
  color: #666666;
}

.button {
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
  line-height: 88px;
  margin: 63px 64px 0;
  border-radius: 45px;
  background-color: #EE9E00;
}

.button-disabled {
  background-color: #f5e2b8;
}

.button-pressed {
  background-color: #b5802b;
}

.verify {
  margin: 32px 64px 0;
}

.bottom {
  flex-direction: row;
  padding: 0 64px 188px;
}

.third {
  flex: 1;
  align-items: center;
}

.third-icon {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border-width: 1px;
  border-color: #E5E5E5;
}

.third-text {
  font-size: 22px;
  color: #999999;
  margin-top: 12px;
}
</style>
