<template>
  <image :src="url" @click="e => $emit('click', e)"/>
</template>

<script>
export default {
  props: {
    src: {default: undefined},
  },
  computed: {
    url() {
      if (weex.config.env.platform === "android") {
        return "local:///" + this.src;
      } else {
        return "local://" + this.src + ".png";
      }
    },
  },
}
</script>
